.secret-santa {
  .header {
    padding: 2em 4rem;
    color: white;
    background-color: #E03A4D;
    font-size: 0.9em;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  .header__name {
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  .header__text-box {
    min-width: 200px;
  }
  .powered-by-logo {
    height: 35px;
  }
  .participants-box {
    max-height: 290px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .select-all-div {
    border: 1px solid #ccc;
    border-bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 45px;
  }
  .select-all-text {
    cursor: pointer;
    color: #E03A4D;
    font-size: 16px;
  }
  .search-user-input {
    height: 45px;
    border-radius: 0px;
  }
  .install-body__heading {
    margin-top: 2em;
    color: #E03A4D;
    text-align: center;
    font-size: 21px;
  }
  .participants-box__profile-img {
    height: 40px;
    width: 40px;
    object-fit: cover
  }
  .participants-box__member {
    border: 1px solid #ccc;
    border-top: 0px;
  }
  .checkbox-input[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;

    + .checkbox-input:before {
      border-color: rgba(0,0,0,.54);
      background-color: transparent;
      transition: border-color 90ms cubic-bezier(0,0,.2,.1);
      border-width: 2px;
      border-style: solid;
      color: #fff;
      content: '';
    }


    &:checked + .checkbox-input:before {
      background-color: var(--app-color) !important;
      text-align: center;
      line-height: 1em;
      color: #fff !important;
      content: '\2714';
    }
  }
  .text-box {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    min-height: 180px;
  }
  .secret-santa-submit {
    display: inline-block;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #E03A4D;
    border: 0 none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 1em;
  }

}
section {
  background-color: #f6f6f6;
}
.section__main-heading {
  font-size: 25px;
  font-weight: 500;
}
.header-main-text {
  align-items: center;
  padding-left: 14px;
  border-left: 1px solid rgba(0,0,0,.2);
  margin-left: 16px;
  display: flex;
  font-weight: bold;
  font-size: 17px;
}
.workspace-name {
  font-size: 17px;
  font-weight: 500;
  border-radius: 4px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.hw-11 {
  width: 11px;
  height: 11px;
}
.installation-iframe{
  border: none;
}
::ng-deep  app-fugu-apps-installation{
  width: 100%;
}
