@import "~assets/css/variables";

.meet {
  height: $header-height;
  background-color: $chat-bar-header;
  z-index: 9;
  order: 0;
  padding: 30px 15px 30px 15px;
  font-family: TitilliumWeb;
  border-bottom: 1px solid $border-bottom-header !important;
  border-top-left-radius: inherit !important;
  border-top-right-radius: inherit !important;
}

.border-bottom {
  border-bottom: solid 1px #e4e4ed;
  padding-top: 5px;
  padding-bottom: 9px;
}

.label-header {
  font-size: 20px;
  font-family: TitilliumWeb-SemiBold;
  color: $chat-header-text;
}

.text-presence {
  font-family: TitilliumWeb !important;
  font-size: 13px;
  color: $light-font;
}

.meet-body {
  background-color: $chat-bg-color;
  padding-top: 28px;
  padding-left: 55px;
  padding-right: 55px;
  color: var(--chat-header-text);

  &__label {
    font-size: 26px;
    font-family: TitilliumWeb-SemiBold;
  }

  &__button {
    width: 230px;
    height: 46px;
    border-radius: 6px;
    border: solid 1px #d2d8e0;
    background-color: #ffffff;
    outline: none;
    color: #4facfe;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &:hover {
      background-image: linear-gradient(259deg, #00c8fe, #4facfe);
      color: #fff;
      border: none;

      .plus {
        color: #fff;
      }

      .keyboard {
        fill: #fff !important;
      }
    }
  }
}

.box {
  background-color: $box-color-meet;
  padding: 12px;

  &__new {
    width: 72px;
    height: 71px;
    border-radius: 10px;
    background-color: #d8fae5;
  }

  &__join {
    width: 72px;
    height: 71px;
    border-radius: 10px;
    background-color: #ebf0ff;
  }
}

.plus {
  font-size: 25px;
}

.mr-create {
  margin-right: 26px;
}

.mr-live {
  margin-right: 56px;
}

.create-group-parent {
  // height: calc(100% - 60px);
  // background-color: white;
  border-right: 1px solid $border-color;
  border-radius: 9px;
}

.group-header {
  background-color: var(--app-color);
  color: white;
  font-size: 19px;
  align-items: flex-end;
  border-top-left-radius: 9px;
}

.search-contacts-input {
  border: none;
  border-radius: 0;
  background: transparent;
  font-size: 17px;
  color: $chat-header-text;
  border-bottom: 1px solid #d7d7d7;

  &:focus {
    border-bottom: 1px solid var(--app-color);
  }
}

.member-card {
  height: 62px;

  &:hover {
    background-color: $app-color-highlight;
  }
}

.member-img {
  max-height: 46px;
  min-height: 46px;
  min-width: 46px;
  max-width: 46px;
  object-fit: cover;
}

.members-container {
  overflow: hidden;
  // padding-bottom: 70px;
}

.member-card {
  border-left: solid 3px transparent;
}

.search-container {
  background-color: $chat-bar-header;
}

.label {
  color: $chat-header-text
}

.label-light {
  color: $light-font;
}

*::-webkit-scrollbar {
  width: 5px !important;
  height: 7px !important;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 3px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  padding: 1px;
}

.chip-container {
  // height: 40px;
}

.chip-email {
  background-color: var(--chip-bg);
  color: white;
  font-family: TitilliumWeb;
  height: 32px;

  img {
    height: 24px;
    width: 24px;
    object-fit: cover;
    margin-left: 2px;
  }

  .chip-text {
    font-size: 16px;
    color: #303030;
  }

  .chip-cross {
    &:hover {
      background-color: #FFFFFF;
    }
  }
}

.selected-members-container {
  max-height: 200px;
  height: 200px;
  overflow: auto;
  margin-top: 20px;
  padding-left: 0px !important;
  // border-bottom: 1px solid #efefef;
}

.action-button {
  position: absolute;
  bottom: 82px;
  min-height: 70px;
  max-height: 70px;
  right: 32px;
}

.channel-group-image {
  height: 150px;
  width: 150px;

  img {
    height: 150px;
    width: 150px;
  }
}

.image-layer {
  background-color: #7F807F;
  color: white;
  height: 100%;
  transition: all 1s ease-in-out;
  opacity: 0.7;
  font-size: 18px;
  text-align: center;
  font-family: TitilliumWeb;
  width: 100%;

  .add-text {
    font-size: 16px;
  }
}

.height-0 {
  height: 0 !important;
}

.group-type-bar {
  background-color: #f9f9f9;
}

.w-83 {
  width: 83%;
}

.email-text {
  margin-top: -4px;
}

.no-thumbnail-img {
  min-height: 46px;
  max-height: 46px;
  min-width: 46px;
  max-width: 46px;
  font-size: 30px;
  color: white;
}

.tick-button {
  margin-top: 50px;
}

.hw-56 {
  height: 56px;
  width: 56px;
}

.member .active {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: $app-color-highlight;;
  border-right: solid 3px var(--app-color);
}

.members-vs-scroll-container {
  min-height: 100%;
}

::ng-deep .cdk-virtual-scroll-content-wrapper {
  width: 100%;
}

.circle-icon-tick {
  color: var(--app-color);
  background: #fff;
  border-radius: 50%;
  border: 0.2px solid var(--app-color);;
}

.tick-position {
  top: 36px;
  left: 47px;
}

.w-40 {
  width: 40%;
  // border-right: 1px solid #efefef;
}

.w-60 {
  width: 60%;
}

.participant-text {
  color: $light-font;
  font-size: 15px;
}

.footer {
  position: absolute;
  bottom: 30px;
  right: 31px;
}

.join-header {
  height: 60px;
  background-color: $chat-bg-color;
  color: $chat-header-text;
  font-family: TitilliumWeb-SemiBold;
  font-size: 16px;
}

.input-join {
  background: $sidebar-input-bg;
  padding-left: 40px;
  color: $chat-header-text;
  box-shadow: none !important;
}

.position-key {
  position: absolute;
  top: 41px;
  right: 77px;
}

::ng-deep .message-modal__content {
  border-radius: 9px !important;
}


.invite-option-sidebar {
  // position: absolute;
  // bottom: 4px;
  // background-color: $sidebar-highlight;
  background-color: $app-color-highlight;
  border-radius: 9px;
  padding: 15px;
  margin-top: 40px;

  &__text {
    color: $chat-header-text;
  }
}

.height-icon {
  width: 72px;
  height: 72px;
}

::ng-deep .message-modal {
  z-index: 998 !important;
}

.task-desc {
  min-height: 100px;
  max-height: 100px;
}

::ng-deep .spaceSessionCal mat-calendar-header {
  display: none;
}

::ng-deep .spaceSessionCal {
  height: auto !important;
}

.hidden-input {
  width: 0;
  z-index: -9;
}

.repeat-tab {
  margin-right: 10px;
  border-radius: 7px !important;
  padding-top: 3px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.selectedTab {
  background: #4badfd;
  color: #fff;
}

.set-btn-back {
  background-color: #f0f4f8;
  padding: 16px;
  margin-left: -17px;
}

.set-opar-bottom {
  height: 12px;
  margin-top: -9px;
  padding-top: 0;
}

.my-delete-btn {
  border-radius: 7px;
  height: 39px;
  padding: 0 17px 0 16px;
  background-color: #dc3545;
  margin-top: 1px;
  color: white;
  border: none;
  margin-left: 18px;
  font-size: 20px;
}


//.custom-tabbar .mat-tab-body-active {
//  overflow: visible !important;
//  position: static;
//}
//.mat-tab-body.mat-tab-body-active {
//  position: relative;
//  overflow-x: hidden;
//  overflow-y: auto;
//  z-index: initial; // set z-index to inital
//  flex-grow: 1;
//}
//
//.mat-tab-body{
//  pointer-events: none;
//}
//.mat-tab-body.mat-tab-body-active {
//  position: relative;
//  overflow-x: hidden;
//  overflow-y: auto;
//  z-index: initial;
//  flex-grow: 1;
//  pointer-events: all;
//}
