@import '~assets/css/variables';

.payment-users {
    background: transparent;
    color: $light-font;
    border-bottom: 1px solid $border-color!important;
    border-radius: 0px!important;
    width: 50px;
  }