<div class="h-100 w-100 billing-container p-3 row mr-0 ml-0">
  <div class="col-md-12 d-flex justify-content-center align-items center h-10">
    <img class="p-2 logo-icon" src="/assets/img/fugu-logo-full.svg">
  </div>
  <div class="col-md-12 d-flex justify-content-center align-items center">
    <span class="plan-switch-text-2">Upgrade your plan</span>
  </div>
  <div class="h-90 billing-card col-md-5 d-flex flex-column align-items-center justify-content-center">
    <span class="plan-switch-text">
      Enter card details
    </span>
    <div class="card card--front mb-4 mt-4" [hidden]="openCardPopup">
      <div class="card__number">**** **** **** {{userCards.last4_digits}}</div>
      <div class="card__expiry-date">{{userCards.expiry_date}}</div>
      <span><i class="fab card-brand" [ngClass]="userCards.class"></i></span>
    </div>
    <div class="d-non-imp-flex justify-content-center mb-4 mt-4 w-100" [hidden]="!openCardPopup">
      <div class="add-card-form">
        <form>
          <div class="group">
            <label class="label-card">
              <span>Card number</span>
              <div id="card-number-element" class="field"></div>
              <span class="brand mr-2"><i class="fab" [ngClass]="classBrand"></i></span>
            </label>
            <label class="label-card">
              <span>Expiry date</span>
              <div id="card-expiry-element" class="field"></div>
            </label>
            <label class="label-card">
              <span>CVC</span>
              <div id="card-cvc-element" class="field"></div>
            </label>
          </div>
          <div class="outcome" *ngIf="errorMessage">
            <div class="error-card">{{errorMessage}}</div>
          </div>
        </form>
      </div>
    </div>
    <div class="add-new-card-container">
      <button type="button" *ngIf="!openCardPopup" (click)="openAddCardPopup(true)" class="btn btn-dark">Add New
        Card</button>
      <button type="button" *ngIf="openCardPopup && (userCards | objectLength)" (click)="cancelAddCardPopup()"
        class="btn btn-danger mr-3">Cancel</button>
      <button type="button" *ngIf="openCardPopup" (click)="addCard()" class="btn btn-dark">Add Card</button>
    </div>
  </div>
  <div class="col-md-7 d-flex flex-column justify-content-center mb-4">
    <div class="billing-page">
      <span class="p-2 billing-page-heading d-flex justify-content-center">Buy Plan</span>
      <div class="p-4">
        <div>
          <span class="subheading-billing">Pro Plan</span>
        </div>
        <div class="mt-3 d-flex flex-column" *ngIf="planType == planTypeEnum.PER_USER">
          <span class="billing-period-heading mb-2">USERS</span>
          <div class="d-flex align-items-center justify-content-between">
            <span>Number of users</span>
            <span class="font-user">{{totalUsers}}</span>
          </div>
        </div>
        <div class="mt-4 d-flex flex-column">
          <span class="billing-period-heading mb-2">BILLING PERIOD</span>
          <div class="d-flex align-items-center justify-content-between" *ngFor="let plan of billingPlans">
            <div>
              <label class="mt-2">
                <input type="radio" name="bill" [value]="plan.id" class="mr-2"
                  (change)="calcTotal(plan)" [(ngModel)]="paymentType"> Pay {{plan.period}}
              </label>
              <span class="p-2 save-text" *ngIf="plan.period == 'ANNUALY'">(50% off)</span>
            </div>
            <span *ngIf="planType == planTypeEnum.PER_USER">${{plan.price}}/month x 1 User</span>
            <span *ngIf="planType == planTypeEnum.SUBSCRIPTION">${{plan.price}}</span>
          </div>
        </div>
        <div class="mt-4 d-flex flex-column">
          <span class="billing-period-heading mb-2">*This subscription will auto renew</span>
        </div>
        <div class="mt-4 d-flex align-items-center justify-content-between">
          <span class="mb-2 total-text">TOTAL</span>
          <span class="amount-text">${{totalPlanCost.cost}}</span>
        </div>
        <div class="mt-4 d-flex align-items-center" [ngClass]="{'justify-content-between': (!isMobile && showCancelButton), 'justify-content-end': (isMobile || !showCancelButton)}">
          <button type="button" *ngIf="!isMobile && showCancelButton" class="btn btn-light" (click)="cancelBillingPage()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="buyPlan()">Buy Plan</button>
        </div>
      </div>
    </div>
  </div>
</div>
