<div class="w-100 h-100 overflow-hidden d-flex flex-column border-left">
  <div class="whats-new-header d-flex align-items-center justify-content-start border-bottom p-2">
    <span class="cursor-hand d-flex align-items-center mr-3" (click)="closeWhatsNew.emit(false)">
      <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path d="M20 11H7.8l5.6-5.6L12 4l-8 8 8 8 1.4-1.4L7.8 13H20v-2z"></path>
      </svg>
    </span>
    <h3 class="TitilliumWeb-bold pl-3 mb-0">What's New</h3>
  </div>
  <div class="whats-new-container flex-grow overflow-auto w-100" #whatsNew id="whatsNew">
    <div *ngFor="let item of whatsNewArray" class="bg-white msg-card p-2 m-2 d-flex flex-column">
      <span class="whats-new-date">{{item.date | date:'mediumDate'}}</span>
      <div class="whats-new-text-header mb-1">
        {{item.heading}}
      </div>
      <div>
        <p class="white-space">{{item.description}}</p>
      </div>
      <div class="whats-new-link-container mt-3">
        <span class="cursor-hand"><a [href]="item.link" class="link-text" target="_blank">{{item.link_text ? item.link_text : item.link}}</a></span>
      </div>
    </div>
    <div id="loader-div" class="d-flex justify-content-center align-items-center mt-2 h-100 w-100" *ngIf="showLoader">
      <svg width="50px" height="50px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling"
        style="background: white;border-radius:50%;">
        <circle cx="50" cy="50" fill="none" stroke="var(--app-color)" stroke-width="6" r="35" stroke-dasharray="164.93361431346415 56.97787143782138"
          transform="rotate(144 50 50)">
          <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s"
            begin="0s" repeatCount="indefinite"></animateTransform>
        </circle>
      </svg>
    </div>
  </div>
</div>
