
$color-red: var(--color-red);
$app-color: var(--app-color);
$sender-chat-bubble-color: var(--sender-chat-bubble-color);
$link-color-sender: var(--link-color-sender);
$chat-bubble-receiver: var(--chat-bubble-receiver);
$bot-bubble-receiver: var(--bot-bubble-receiver);
$chat-bar-header: var(--chat-bar-header);
$sidebar-chat-color: var(--sidebar-chat-color);
$chat-bg-color: var(--chat-bg-color);
$date-divider-color: var(--date-divider-color);
$content-editable: var(--content-editable);
$missed-call-text: var(--missed-call-text);
$chat-bg: url('../../../assets/img/bg.png');
$question-block: var(--question-block);
$unread-message-bar: var(--unread-message-bar);
$red-icon-color: var(--red-icon-color);
$time-message-receiver: var(--time-message-receiver);
$time-message-sender: var(--time-message-sender);
$workspace-bar: var(--workspace-bar);
$font-message-sender: var(--font-message-sender);
$font-message-receiver: var(--font-message-receiver);
$video-parent: var(--video-parent);
$bot-bubble-text: var(--bot-bubble-text);
$search-cont-text: var(--search-cont-text);
$time-message-bot: var(--time-message-bot);
$sidebar-font: var(--sidebar-font);
$light-font: var(--light-font);
$sidebar-font: var(--sidebar-font);
$margin-sidebar: var(--margin-sidebar);
$margin-image-chats: var(--margin-image-chats);
$height-sidebar-chats: var(--height-sidebar-chats);
$header-height: var(--header-height);
$reply-header-height: var(--reply-header-height);
$header-color: var(--header-color);
$red-font: var(--red-font);
$chip-bg: var(--chip-bg);
$thread-bg-color: var(--thread-bg-color);
$thread-sender-bubble: var(--thread-sender-bubble);
$border-chat: var(--border-chat);
$edit-mess-receiver: var(--edit-mess-receiver);
$app-color-highlight: var(--app-color-highlight);
$sidebar-highlight: var(--sidebar-highlight);
$bot-chat-border: var(--bot-chat-border);
$poll-border-color: var(--poll-border-color);
$calling-bg-success: var(--calling-bg-success);
$calling-bg-missed: var(--calling-bg-missed);
$other-missed-call-text: var(--other-missed-call-text);
$sidebar-heading: var(--sidebar-heading);
$header-ws: var(--header-ws);
$sidebar-search-border: var(--sidebar-search-border);
$sidebar-input-bg: var(--sidebar-input-bg);
$sidebar-plus: var(--sidebar-plus);
$header-height-sides: var(--header-height-sides);
$sidebar-border-right: var(--sidebar-border-right);
$border-bottom-header: var(--border-bottom-header);
$sidebar-input-color: var(--sidebar-input-color);
$sidebar-chat-tagged: var(--sidebar-chat-tagged);
$search-placeholder: var(--search-placeholder);
$calling-bg: var(--calling-bg);
$scroll-color: var(--scroll-color);
$border-content: var(--border-content);
$reaction-bg: var(--reaction-bg);
$input-content: var(--input-content);
$content-icon: var(--content-icon);
$bg-opacity: var(--bg-opacity);
$chat-header-text: var(--chat-header-text);
$date-divider-text: var(--date-divider-text);
$box-shadow: var(--box-shadow);
$text-receiver: var(--text-receiver);
$tagging-bg: var(--tagging-bg);
$link-color-receiver: var(--link-color-receiver);
$poll-bg: var(--poll-bg);
$poll-bg-fill: var(--poll-bg-fill);
$selection-text: var(--selection-text);
$border-color: var(--border-color);
$thread-content: var(--thread-content);
$popup-opacity: var(--popup-opacity);
$edit-highlight: var(--edit-highlight);
$tagging-highlight: var(--tagging-highlight);
$attachment-link: var(--attachment-link);
$deleted-text-sender: var(--deleted-text-sender);
$box-color-meet: var(--box-color-meet);
$app-button: var(--app-button);
$rounded-image: var(--rounded-image)!important;
$border-radius-bubble: var(--border-radius-bubble);
$border-radius-bubble-edge: var(--border-radius-bubble-edge);
$other-message-box-shadow: var(--other-message-box-shadow);

:root{
    --app-color: #0ac5fe;;
    --thread-sender-bubble: #f0f4f8;
    --app-button: linear-gradient(259deg, #00c8fe, #4facfe);
    --chat-bubble-receiver: linear-gradient(259deg, #00c8fe, #4facfe);
    --icon-color: #0ac5fe;
    --poll-bg: #ffffff;
    --poll-bg-fill: linear-gradient(270deg,rgba(0,0,0,.06),hsla(0,0%,100%,.04));
    --link-color-receiver: #007bff;
    --text-receiver: #2f2f2f;;
    --sidebar-highlight: #C8E9F5;
    --app-color-highlight: #C8E9F5;
    --loader-color: #0ac5fe;;
    --scroll-color: #0ac5fe;;
    --header-color: #ffffff;
    --sidebar-chat-color: #ffffff;
    --date-divider-color: #f3f3f3;
    --sender-chat-bubble-color: #ffffff;
    --profile-options-left: 50px;
    --profile-options-top: 30px;
    --workspace-chip: #807f7f;
    --color-red: #dc3545;
    --link-color-sender: #2f2f2f;
    --chat-bar-header: #ffffff;
    --content-editable: #ffffff;
    --missed-call-text: #da2929;
    --question-block: #ffffff;
    --unread-message-bar: #3bd5b2;
    --red-icon-color: #3bd5b2;
    --poll-border-color: #3bd5b2;
    --time-message-receiver: #ffffff;
    --time-message-sender: #8b98a5;
    --edit-mess-receiver: #ffffffb8;;
    --workspace-bar: #ffffff;
    --chat-bg-color: #f0f4f8;
    --thread-bg-color: #ffffff;
    --thread-content: #f0f4f8;
    --font-message-sender: #333333;
    --font-message-receiver: #ffffff;
    --video-parent: #1c1c1c;
    --bot-bubble-receiver: rgba(10, 197, 254, 0.13);
    --bot-bubble-text: #2f2f2f;
    --search-cont-text: #2f2f2f;
    --time-message-bot: #8b98a5;
    --sidebar-font: #4a5157;
    --light-font: #8b98a5;
    --sidebar-font: #8b98a5;
    --margin-sidebar: 16px;
    --margin-image-chats: 12px;
    --height-sidebar-chats: 56px;
    --header-height: 64px;
    --header-height-sides: 71px;
    --reply-header-height: 40px;
    --red-font: #d0021b;
    --chip-bg: #e7f9ff;
    --border-chat: rgba(47, 47, 47, 0.1);
    --bot-chat-border: #4facfe78;
    --calling-bg-success: #3bd5b2;
    --calling-bg-missed: #ed497c;
    --other-missed-call-text: #ffffff;
    --sidebar-heading: #2f2f2f;
    --header-ws: #333333;
    --sidebar-search-border: #b3bec9;
    --sidebar-input-bg: #ffffff;
    --sidebar-plus: #2F2F2F;
    --sidebar-border-right: #e4e4e4;
    --border-bottom-header: rgba(47, 47, 47, 0.1);
    --border-color: rgba(47, 47, 47, 0.1);
    --sidebar-input-color:   rgba(74, 81, 87, 0.7);
    --sidebar-chat-tagged: #5c5c5c;
    --search-placeholder: rgba(255, 255, 255, 0.7);
    --calling-bg: #000;
    --scroll-color: rgb(204,204,204);
    --border-content: #ffffff;
    --reaction-bg: #ffffff;
    --reaction-bg: #ffffff;
    --input-content: #000;
    --content-icon: #0ac5fe;
    --bg-opacity: rgba(255, 255, 255, 0.95);
    --chat-header-text: #2f2f2f;
    --date-divider-text: #8b98a5;
    --box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
    --popup-opacity: rgba(255, 255, 255, 0.85);
    --tagging-bg: #f4f5f5;
    --selection-text: #3333335e;
    --edit-highlight: #fff6d1;
    --tagging-highlight: #e2e2e2;
    --attachment-link: #0088cc;
    --deleted-text-sender: rgba(0, 0, 0, 0.4);
    --box-color-meet: #ffffff;
    --rounded-image: 2px;
    --border-radius-bubble: 8px;
    --border-radius-bubble-edge: 0px;
    --other-message-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);

  }
