<div class="secret-santa overflow-auto w-100 h-100">
  <div class="winter-is-coming">

    <div class="snow snow--near"></div>
    <div class="snow snow--near snow--alt"></div>

    <div class="snow snow--mid"></div>
    <div class="snow snow--mid snow--alt"></div>

    <div class="snow snow--far"></div>
    <div class="snow snow--far snow--alt"></div>
  </div>
  <header class="d-flex header justify-content-between">
    <div class="d-flex align-items-center header__text-box">
      <div class="window">
        <div class="santa">
          <div class="head">
            <div class="face">
              <div class="redhat">
                <div class="whitepart"></div>
                <div class="redpart"></div>
                <div class="hatball"></div>
              </div>
              <div class="eyes"></div>
              <div class="beard">
                <div class="nouse"></div>
                <div class="mouth"></div>
              </div>
            </div>
            <div class="ears"></div>
          </div>
          <div class="body"></div>
        </div>
      </div>
      <!-- <img class="header__logo" src="assets/img/santa.png"> -->
      <div class="d-flex flex-column header__text-box ml-2">
        <p class="header__name">Secret Santa</p>
        <p class="header__desc"> Share the Christmas spirit in your workspace</p>
      </div>
    </div>
    <!-- <div class="d-flex align-items-end">
      <img class="powered-by-logo mr-3" src="assets/img/fugu-logo-white.svg">
      <p class="powered-by-text mb-0">Powered by Fugu</p>
    </div> -->
  </header>
  <div class="install-body row no-gutters pl-3 pr-3">
    <div class="col-md-6 col-12 p-3">
      <p class="install-body__heading">Select the participants for your secret santa</p>
      <div class="d-flex flex-column">
        <div class="p-2 select-all-div d-flex justify-content-center">
          <span class="select-all-text" (click)="onUserSelectAll()">Select All / </span>
          <span class="select-all-text" (click)="onUserUnselectAll()">&nbsp;Unselect All</span>
        </div>
        <input type="text" class="form-control w-100 search-user-input outline-none" placeholder="Search users"
          [formControl]="searchUserInput">
        <div class="d-flex flex-column participants-box">
          <label class="d-block mb-0 p-1 participants-box__member"
            *ngFor="let member of userListDisplayed;let i = index" (change)="onMemberSelect(member)">
            <span class="p-1 pl-2 cursor-hand overflow-hidden d-flex align-items-center" style="width: 445px">
              <input type="checkbox" name="checkbox" [checked]="member.selected" class="checkbox-input">
              <div *ngIf="!member.user_thumbnail_image" class="participants-box__profile-img rounded-circle d-flex
                justify-content-center align-items-center hw-26 color-white"
                [ngStyle]="{'background-color': member.fugu_user_id | randomColor}">
                {{member.full_name.substring(0,1)}}
              </div>
              <img *ngIf="member.user_thumbnail_image" class="participants-box__profile-img rounded-circle"
                [src]="member.user_thumbnail_image">
              <div class="participants-box__name ml-2">{{member.full_name}}</div>
            </span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 p-3">
      <p class="install-body__heading">Write an optional message</p>
      <div class="d-flex justify-content-center flex-column">
        <textarea class="text-box" placeholder="Optional Text (can be used for price limit and deadline)"
          [formControl]="textarea"></textarea>
        <div class="mb-3 mt-3">
          <span class="prev-text">Preview of Message which will be sent: </span>
          <div class="text-box mt-3">
            <div class="margin-intro">
              Hi &lt;user's name goes here&gt;, <br>
              Secret Santa <img class="emoji" draggable="false" alt="🎅" src="https://files.fugu.chat/emojis/1f385.svg">
              is back again this year!<br>
            </div>

            <b>You have been chosen to gift</b><br>
            <span class="link-name">@&lt;receiver's name goes here&gt;<br></span>
            <span><b>something he/she would like to receive! This is a secret only shared with you!</b></span> <br>

            <div class="margin-top-content">Someone has also been chosen to get you a gift. <span *ngIf="textarea.value">Here
                is a message from the Secret Santa admin:</span><br>
              <span class="opt-text"><i>{{textarea.value}}</i></span>
              <br></div>
            For any info/query contact your Secret Santa admin: <span class="link-name"> @{{userData.full_name}}</span><br>
          </div>
        </div>
        <button class="secret-santa-submit" (click)="sendSecretSantaMessage()">Finish and send Secret Santa
          messages</button>
      </div>
    </div>

  </div>
</div>
<app-message-modal *ngIf="endingPopup" [width]="'32%'" [@messageModalAnimation]>
  <div class="sent-popup d-flex align-items-center">
    <img src="assets/img/gift.png" class="gift-icon mr-4">
    <p class="desc">Your message has been sent</p>
  </div>
  <div class="d-flex justify-content-end">
    <button class="message-modal-button outline-none" type="button" (click)="goToHome()">Back to
      {{ commonService.isWhitelabelled ? commonApiService.whitelabelConfigurations['app_name'] : 'Fugu' }}</button>
  </div>
</app-message-modal>