<app-message-modal [width]="'80%'" [padding]="'0'" id="broadcast" class="p-0" [@messageModalAnimation]>
  <div class="h-100 d-flex flex-column justify-content-between">
    <div class="d-flex align-items-center justify-content-between header-broadcast">
      <div>
        <img class="rounded-img-fugu bot-image mr-2" draggable="false"
          src="https://fuguchat.s3.ap-south-1.amazonaws.com/test/image/B4bkKEmzgN_1535969596640.png">
        <span class="message-modal-heading mr-3">Lets send message on {{ commonService.isWhitelabelled ? commonApiService.whitelabelConfigurations['app_name'] : 'Fugu' }} Bot</span>
        <div class="tooltip-broadcast cursor-hand"><i class="fas fa-info-circle"></i>
          <span class="tooltiptext-broadcast">The message you write here will be sent to the {{ commonService.isWhitelabelled ? commonApiService.whitelabelConfigurations['app_name'] : 'Fugu' }} bot channel. (Your
            name will not be displayed)</span>
        </div>
      </div>
      <span (click)="leaveBroadcastPopup()" class="margin-close-icon cursor-hand">
        <img src="assets/img/close-white.svg" class="cursor-hand">
      </span>
    </div>
    <div class="message-modal-description d-flex">
      <div class="w-40 p-3">
        <span class="message-text-heading">Select option</span>
        <div class="d-flex flex-column mt-2">
          <div class="radio radio-options cursor-hand" *ngFor="let type of broadcastTypeArray">
            <input class="mr-2" [id]="type.value" name="radio" type="radio" [(ngModel)]="broadcastMessage"
              (change)="clearValues()" [value]="type.value">
            <label [for]="type.value" class="radio-label cursor-hand">{{type.name}}</label>
          </div>
        </div>
        <div *ngIf="broadcastMessage != 'ALL'">
          <div class="selected-members-container p-2">
            <div class="d-flex flex-wrap" >
              <div class="chip-email mb-2 mr-1 d-flex" *ngFor="let member of selected_members | keyvalue">
                <img *ngIf="member.value.user_image" [src]="member.value.user_image"
                  class="rounded-img-fugu" alt="user-image">
                <div *ngIf="!member.value.user_image" class="rounded-img-fugu d-flex
                             justify-content-center align-items-center hw-26"
                  [ngStyle]="{'background-color': member.value.user_id | randomColor}">
                  {{member.value.full_name.substring(0,1)}}
                </div>
                <span
                  class="chip-text d-flex align-items-center pl-2">{{member.value.full_name.split(' ')[0]}}
                  <span (click)="removeMember(member.key)"
                    class="d-flex align-items-center ml-1 mr-1 rounded-img-fugu cursor-hand chip-cross">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                      <path opacity=".6" fill="#263238"
                        d="M12.174 4.661l-.836-.835L8 7.165 4.661 3.826l-.835.835L7.165 8l-3.339 3.339.835.835L8 8.835l3.338 3.339.836-.835L8.835 8l3.339-3.339z">
                      </path>
                    </svg>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="search-bar">
            <input id="conference-search-box" type="text" class="form-control box-shadow-none outline-none"
              [formControl]="broadcastSearchCtrl" placeholder="Start typing to find users">
            <div class="d-flex flex-column members-box">
              <label class="d-block mb-0 p-1 participants-box__member" (click)="addMember(member)"
                *ngFor="let member of search_results;let i = index">
                <span class="p-1 pl-2 cursor-hand overflow-hidden d-flex align-items-center members-container-width">
                  <img *ngIf="member.user_image" class="participants-box__profile-img rounded-img-fugu"
                    [src]="member.user_image">
                  <div *ngIf="!member.user_image" class="rounded-img-fugu d-flex
                  justify-content-center align-items-center no-thumbnail-img"
                    [ngStyle]="{'background-color': member.user_id | randomColor}">
                    {{member.full_name.substring(0,1)}}
                  </div>
                  <div class="participants-box__name ml-2">{{member.full_name}}</div>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-grow p-3">
        <div class="form-group">
          <span class="message-text-heading">Write a Message</span>
          <div class="text-area" id="input_id_broadcast" data-broadcast-placeholder="Press shift (&#8593;) + enter (&#8629;) to add new line." contenteditable="true" (keydown)="keydownEvent($event)"
            data-placeholder="Type your message here" (paste)="pasteEvent($event)" (input)="onInputEvent($event)"></div>
            <span class="note-file-attachment d-flex justify-content-end">*Text will not appear with non image/video attachments</span>
          <div class="mt-3 d-flex align-items-center">
            <div class="position-relative">
              <button class="emoji-trigger emoji-btn" (click)="showEmojiPicker = !showEmojiPicker">
                <!-- <img
                  draggable="false" src="/assets/img/emoji-blue.svg" class="mr-2 cursor-hand emoji-trigger"
                  alt="emoji-icon" /> -->
                  <svg class="mr-2 cursor-hand emoji-trigger" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <defs>
                        <linearGradient id="a" x1="100%" x2="0%" y1="0%" y2="100%">
                            <stop offset="0%" stop-color="var(--app-color)"/>
                            <stop offset="100%" stop-color="var(--app-color)"/>
                        </linearGradient>
                        <linearGradient id="b" x1="100%" x2="0%" y1="46.3%" y2="53.7%">
                            <stop offset="0%" stop-color="var(--app-color)"/>
                            <stop offset="100%" stop-color="var(--app-color)"/>
                        </linearGradient>
                    </defs>
                    <g fill="none" fill-rule="evenodd">
                        <rect width="24" height="24" rx="2"/>
                        <circle cx="12" cy="12" r="9" stroke="url(#a)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                        <path fill="url(#a)" d="M8.5 8a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM15.5 8a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                        <path stroke="url(#b)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M16.593 15.001A5.477 5.477 0 0 1 12 17.5a5.477 5.477 0 0 1-4.593-2.499"/>
                    </g>
                </svg>
                
                </button>
              <app-emoji-picker *ngIf="showEmojiPicker" class="emoji-picker" keyboard-events
                (esc)="showEmojiPicker = false" [isEnabled]="showEmojiPicker" (emojiClick)="emojiClickEvent($event)"
                click-outside (clickOutside)="emojiPickerClickOutside($event)"></app-emoji-picker>
            </div>
            <div>
              <span (click)="onAttchmentClick(fileInput)" class="cursor-hand">
                <!-- <img class="mr-3 hw-24" alt="attachment"
                  draggable="false" src="/assets/img/attach.svg"> -->
                  <svg class="mr-3 hw-24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="22" viewBox="0 0 20 22">
                    <defs>
                        <path id="a" d="M.03.369H19.7V22H.03z"/>
                    </defs>
                    <g fill="none" fill-rule="evenodd">
                        <mask id="b" fill="#fff">
                            <use xlink:href="#a"/>
                        </mask>
                        <path fill="var(--app-color)" d="M19.582 8.418a.384.384 0 0 0-.567 0L8.1 19.854a4.152 4.152 0 0 1-6.051 0 4.56 4.56 0 0 1-1.248-3.17 4.56 4.56 0 0 1 1.248-3.17L12.965 2.078c1.158-1.213 2.979-1.14 4.233.174 1.251 1.314 1.323 3.219.165 4.432L7.105 17.429c-.572.6-1.506.6-2.08 0a1.596 1.596 0 0 1 0-2.18l6.947-7.28a.434.434 0 0 0 0-.593.389.389 0 0 0-.566 0l-6.947 7.279a2.466 2.466 0 0 0 0 3.366 2.203 2.203 0 0 0 3.213 0L17.927 7.276c1.483-1.553 1.411-3.967-.163-5.619C16.188.008 13.88-.067 12.4 1.483L1.482 12.923C.525 13.923 0 15.26 0 16.684c0 1.427.525 2.762 1.482 3.763A4.922 4.922 0 0 0 5.075 22c1.36 0 2.635-.55 3.59-1.553L19.582 9.01a.431.431 0 0 0 0-.592z" mask="url(#b)"/>
                    </g>
                </svg>
                </span>
                  
              <input class="d-none-normal" type="file" #fileInput (change)="fileUpload($event,false)" accept="*" />
            </div>
          </div>
        </div>
        <div class="attachment-container d-flex justify-content-between" *ngIf="files">
          <span *ngFor="let attach of files">
            {{attach.name}}
          </span>
          <span class="cross-icon cursor-hand" (click)="removeAttachment()"><i class="fas fa-times"></i></span>
        </div>
        <button class="button-send-message disable-class outline-none"
          [disabled]="(!files && !input_id.innerHTML.length)" (click)="prepareFileForUpload()" type="button">Broadcast
          your message</button>
      </div>
    </div>
  </div>
</app-message-modal>
<app-message-modal *ngIf="leaveBroadcast" [width]="'30%'" [@messageModalAnimation] (closeMessageModal)="leaveBroadcast = false">
  <p class="message-modal-description">Are you sure you don't want to broadcast message?</p>
  <div class="d-flex justify-content-end">
    <button class="message-modal-button message-modal-button-red btn-red outline-none mr-3" type="button"
      (click)="leaveBroadcast = false">No</button>
    <button class="message-modal-button outline-none" (click)="closeBroadcastPopup.emit()" type="button">Yes</button>
  </div>
</app-message-modal>
