<!-- <app-message-modal id="shiftNewSpace" [width]="'35%'" [@messageModalAnimation]>
    <div>
      <p class="message-modal-heading">{{commonService.isWhitelabelled ? commonService.whitelabelConfigurations['app_name'] : 'Fugu' }} Update!</p>
      <p class="message-modal-description">Fugu just got better, so users get a hassle free experience while switching workspaces.</p>
      <div class="d-flex justify-content-end">
        <button class="message-modal-button outline-none" type="button"
         (click)="switchToNewWebLook()" >Ok , Surprise me</button>
      </div>
    </div>
  </app-message-modal>  -->