<div class="forward-header d-flex align-items-center justify-content-between">
    <span class="ml-24">Add Member</span>
    <svg (click)="closeAddMembers.emit()" class="cursor-hand mr-24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <g fill="none" fill-rule="evenodd">
          <path d="M0 0h24v24H0z"/>
          <g stroke="var(--chat-header-text)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
              <path d="M18 6L6 18M6 6l12 12"/>
          </g>
      </g>
  </svg>
  
    <!-- <img class="cursor-hand mr-24" src="assets/img/cross-icon-black.svg" (click)="closeAddMembers.emit()">  -->
</div>
<div class="modal-body p-0">
  <div class="selected-members-container" *ngIf="selected_members_padding" [ngClass]="{'p-2': selected_members_padding}">
    <div class="d-flex flex-wrap chip-container">
      <div class="chip-email mb-2 mr-1 d-flex align-items-center" *ngFor="let member of selected_members | keys" [@flyInOut]>
        <img *ngIf="selected_members[member]?.user_thumbnail_image" [src]="selected_members[member].user_thumbnail_image"
          class="rounded-img-fugu" alt="user-image">
        <div *ngIf="!selected_members[member].user_thumbnail_image" class="rounded-img-fugu d-flex
                    justify-content-center align-items-center hw-24"
          [ngStyle]="{'background-color': selected_members[member].fugu_user_id | randomColor}">
          {{selected_members[member].full_name.substring(0,1)}}
        </div>
        <span class="chip-text d-flex align-items-center pl-2">{{selected_members[member].full_name.split(' ')[0]}}
          <span (click)="removeMember(member)"
            class="d-flex align-items-center ml-1 mr-1 rounded-img-fugu cursor-hand chip-cross">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
              <path opacity=".6" fill="#2f2f2f"
                d="M12.174 4.661l-.836-.835L8 7.165 4.661 3.826l-.835.835L7.165 8l-3.339 3.339.835.835L8 8.835l3.338 3.339.836-.835L8.835 8l3.339-3.339z">
              </path>
            </svg>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="search-bar mr-24 ml-24 pt-10 pb-10 ">
    <input id="search-box" type="text" class="search-form form-control border-none box-shadow-none outline-none"
      [formControl]="addMemberSearchCtrl" placeholder="Search..." (keydown)="onSearchBoxKeyDownEvent($event)">
  </div>
  <div class="member members-container w-100 overflow-x-hidden flex-grow" #membersContainer>
    <div class="">
      <div class="member-card d-flex cursor-hand align-items-center" [id]="'add-members' + i"
        *ngFor="let member of search_results | sortData:'priority';let i = index"
        [ngClass]="{'active': active_index == i}" (click)="addMember(member)">
        <img *ngIf="member?.user_thumbnail_image" [src]="member.user_thumbnail_image" class="ml-24 mr-12 member-img rounded-img-fugu">
        <div *ngIf="!member.user_thumbnail_image" class="ml-24 mr-12 rounded-img-fugu d-flex
                  justify-content-center align-items-center no-thumbnail-img"
          [ngStyle]="{'background-color': member.fugu_user_id | randomColor}">
          {{member.full_name.substring(0,1)}}
        </div>
        <div class="d-flex flex-column justify-content-center">
          <span class="d-flex align-items-center theme-font-color">
            <p class="ml-2 mb-0 TitilliumWeb-bold">{{member.full_name}}</p>
            <ng-container [ngSwitch]="member.leave_type">
              <ng-container *ngSwitchCase="leaveRoleEnum.ABSENT">
                <p class="small theme-font-light ml-1 mb-0">
                  (On leave)</p>
              </ng-container>
              <ng-container *ngSwitchCase="leaveRoleEnum.WORK_FROM_HOME">
                <p class="small theme-font-lightml-1 mb-0">
                  (WFH)</p>
              </ng-container>
            </ng-container>
          </span>
          <p class="ml-2 mb-0 email-text font-13 theme-font-light">{{member.email}}</p>
        </div>
      </div>
    </div>
    <div class="no-results d-flex justify-content-center mt-3 theme-font-light" *ngIf="!search_results.length">
      No results found.
    </div>
  </div>

  <footer class="action-button d-flex justify-content-center align-items-center">
    <div [@scaleInOut]
      class="forward-icon rounded-circle cursor-hand hw-56 justify-content-center d-flex align-items-center p-3"
      *ngIf="is_forward_enabled" (click)="sendMembersData.emit(selected_members)">
      <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="#FFF" d="M8 17.1l-5.2-5.2-1.7 1.7 6.9 7L22.9 5.7 21.2 4 8 17.1z"></path>
      </svg>
    </div>
  </footer>
</div>
