<div class="parent d-flex flex-column p-2 container">
  <div class="d-flex justify-content-center mb-5 pb-2 pt-5">
    <img *ngIf="!commonService.isWhitelabelled && commonService.showAppDetails" src="/assets/img/fugu-logo-full.svg">
    <img class="h-45" *ngIf="commonService.isWhitelabelled" [src]="commonApiService.whitelabelConfigurations['logo']">
  </div>
  <div class="card p-4 justify-content-center flex-grow mb-5">

    <div class="card-content row no-gutters">
      <div class="col-12 col-md-5 pl-3 pr-5 pt-5 pb-5 d-none d-sm-none d-md-flex
      logo-border align-items-center justify-content-center">
        <img src="/assets/img/name-password.svg" class="img-fluid">
      </div>
      <div class="col-12 col-md-7 pl-md-5 pl-1 pb-5">
        <div class="pl-2 pr-4 pt-4">
          <p class="pt-4 mt-1 fugu-welcome-header mb-1">Your personal information</p>
          <p class="create-workspace-text mb-1">You have been invited to join the <b>{{workspace}}</b> on
            {{commonService.isWhitelabelled ? commonApiService.whitelabelConfigurations['full_domain'] : 'Fugu'}}.</p>
          <form class="mt-2" role="form" [formGroup]="passwordForm" (submit)="setPassword()">
            <div class="form-group mb-0 mr-5">
              <label class="form-custom-label pl-3 pt-2 mb-0">
                Full Name
              </label>
              <input type="text"
                     appAutofocus
                     [ngClass]="{'error' : commonService.getErrorMessage(passwordForm.controls.full_name)}"
                     placeholder="Enter full name here"
                     class="form-control form-signup-custom pl-3"
                     formControlName="full_name"
                     id="inputName">
            </div>
            <div class="form-group mb-0 mr-5" *ngIf="commonService.isOldFlow && passwordForm.controls.password">
              <label class="form-custom-label pl-3 pt-2 mb-0">
                Password
              </label>
              <input type="password"
                     [ngClass]="{'error' : commonService.getErrorMessage(passwordForm.controls.password)}"
                     placeholder="Enter password here"
                     class="form-control form-signup-custom pl-3"
                     formControlName="password"
                     id="inputPassword">
            </div>
            <div class="pl-3 validator-height" *ngIf="commonService.isOldFlow && passwordForm.controls.password">
              <app-validator [control]="passwordForm.controls.password"></app-validator>
            </div>
            <div class="text-muted small p-1" *ngIf="!commonService.isWhitelabelled"><input type="checkbox" class="ml-1 mr-2" formControlName="terms">
              I agree to the <a href="https://jungleworks.co/terms-of-service/" target="_blank" rel="noopener">terms of service </a>and
              <a [routerLink]="['/privacy-policy']" target="_blank" rel="noopener" class="outline-none cursor-hand">privacy policy.</a>
            </div>
            <div class="text-muted small p-1" *ngIf="commonService.isWhitelabelled"><input type="checkbox" class="ml-1 mr-2" formControlName="terms">
              I agree to the <a href="https://jungleworks.co/terms-of-service/" target="_blank" rel="noopener">terms of service </a>and
              <a [routerLink]="['/privacy-policy']" target="_blank" rel="noopener" class="outline-none cursor-hand">privacy policy.</a>
            </div>
            <div class="text-muted small p-1" *ngIf="commonService.isWhitelabelled "><input type="checkbox" class="ml-1 mr-2" formControlName="terms" >
              I agree to the <a target="_blank" class="app-color cursor-hand" rel="noopener" (click)="showTermsTsb = true">terms of service </a>and
              <a  target="_blank" rel="noopener" class="app-color cursor-hand"(click)="showPrivacyTsb = true">privacy policy.</a>
            </div>
            <div class="text-muted small p-1" *ngIf="commonService.isWhitelabelled"><input type="checkbox" class="ml-1 mr-2" formControlName="terms" >
              I agree to the <a target="_blank" class="app-color cursor-hand" rel="noopener" href="https://fchat.s3.ap-south-1.amazonaws.com/default/XI9qInkP6Q_1596562013744.docx">terms of service </a>and
              <a  target="_blank" rel="noopener" class="app-color cursor-hand" href="https://fchat.s3.ap-south-1.amazonaws.com/default/XI9qInkP6Q_1596562013744.docx">privacy policy.</a>
            </div>
            <div class="mt-2">
              <button class="btn btn-next btn-40 pl-3 pr-3" [disabled]="!passwordForm.valid">Continue<img src="/assets/img/arrow-right.svg" class="pl-2"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-message-modal *ngIf="showPrivacyTsb">
  <div class="heading">
    <img class="img"
      src="https://fchat.s3.ap-south-1.amazonaws.com/default/XZEtoueYQz.1589536543167.png"
    />
  </div>
  <div class="container display-inline">
    <h1>PRIVACY POLICY</h1>
    Your privacy and personal information are important to Studybeats.
    Attributing to it, we have developed a Privacy Policy that involves how we
    gather, use, disclose, transfer and store the information. Please take a
    moment to familiarize you with our privacy policy and practices and
    contact us in case of any queries. Our privacy policy dictates the purpose
    for which we collect the user information as per privacy laws. The policy
    states in detail our intention behind collecting and handling customer
    data. We only collect the information you choose to furnish and process it
    with your consent. On a legal basis, we require the information and
    details essential to fulfil the purpose of your interaction with us and
    use it as stated in the policy. The information collected may include your
    name, number, email, language preference, referrals, browser type and the
    time you interacted with us but not limited to them. We collect the
    details from everyone who interacted with us and use the information to
    better understand how the visitors use Studybeats and also to monitor and
    secure the website. The data we request which is not required will be
    specified as voluntary or optional. The privacy policy may be updated
    anytime to reflect changes without prior notice. You are encouraged to
    review any update made in the privacy policy on the website for the latest
    information. Any refusal or objection pertaining to the terms of the
    privacy policy made will not be entertained. For more information on it,
    feel free to contact our team. By providing us with this information, you
    agree to the information collected by us to be used and disclosed as per
    our terms of use and the privacy policy. You hereby, declare that you
    won’t raise any objection to any further dealings with the information
    furnished.

</div>
<div class="d-flex justify-content-end">
  <button type="button" class="message-modal-button mr-3 message-modal-button-red btn-red outline-none"
    (click)="showPrivacyTsb = false">
    Okay
  </button>
</div>
</app-message-modal>
<app-message-modal *ngIf="showTermsTsb">
      <div class="heading">
    <img class="img"
      src="https://fchat.s3.ap-south-1.amazonaws.com/default/XZEtoueYQz.1589536543167.png"
    />
  </div>
  <div class="container display-inline">
    <h1>TERMS AND CONDITIONS</h1>
    Welcome to Studybeats. These are our terms and conditions for use of our
    website and services which might be accessed by you in several ways.
    Please take time to have complete knowledge o it Studybeats reserve the
    right to make any alteration in the services offered without prior notice
    or intimation. The services offered to the beneficiary are intended for
    individual use only. It is expressly clarified that all the intellectual
    property rights including but not limited to patent, trademark, copyright,
    trade secrets in our services shall continue to vest with us at all times.
    The beneficiary possesses no rights to claim over the intellectual
    property in the services by the virtue of purchasing our services. We are
    entitled to revise the price of your services at any time, without prior
    notice. Customers are entitled to make payment in lieu of our services and
    the services will be furnished only after the payment has been
    successfully made. Studybeats reserves the right to withdraw any of its
    services without prior intimation. The beneficiary will enjoy the access
    to our services until the time of validity specified. An extended service
    may be offered in case of any service interruption subject to our terms.
    No refund request will be entertained pertaining to our services once
    taken and paid for. Only a cancellation request can be initiated. In an
    instance of any dispute or difference between the user and Studybeats,
    regarding the interpretation of these terms and conditions, payment or any
    dispute arising out of or in pursuant to these terms and conditions, the
    same shall be referred to as the sole arbitrator. By agreeing to the above
    terms and conditions, you give your consent that you have read them
    thoroughly and are aware of the facts stated in it.

</div>
<div class="d-flex justify-content-end">
  <button type="button" class="message-modal-button mr-3 message-modal-button-red btn-red outline-none"
    (click)="showTermsTsb = false">
    Okay
  </button>
</div>
</app-message-modal>
