.card-content{
  font-family: TitilliumWeb;
}
.img {
  height:100px;
}
@media only screen and (min-width: 768px)  {
  .card{
    height: 65%;
  }
}
@media only screen and (min-width: 1200px)  {
  .container{
    max-width: 850px;
  }
}
.logo-border{
  border-right: solid 1px #e5e5e5;
}
.form-custom-label{
  opacity: 0.9;
  font-size: 12px;
  color: #838383;
}
.parent{
  min-height: 100%;
}
.fugu-welcome-header{
  font-family: TitilliumWeb-SemiBold;
  font-size: 24px;
  color: #333333;
}
.create-workspace-text{
  font-size: 20px;
  color: #333333;
}
.already-sign-in{
  font-size: 14px;
  font-weight: 300;
  color: #838383;
}


@media only screen and (max-width: 768px)  {
  ::ng-deep .message-modal__content{
    height: 100%!important;
    box-shadow: none!important;
    }
  ::ng-deep .message-modal{
 background-color: #fff!important;
    }
}

// .display-inline {
//   display: inline;
// }